@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900=display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.indexnavbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
}

.indexnavbar .logo {
    position: relative;
    max-width: 200px;
    margin-top: 20px;
}

.indexnavbar ul {
    position: relative;
    display: flex;
}

.indexnavbar ul li {
    list-style: none;
}

.indexnavbar ul li a {
    display: inline-block;
    color: #181818;
    font-weight: 400;
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 20px;
    text-decoration: none;
}

.indexnavbar ul li p a {
    display: inline-block;
    margin-left: 40px;
    margin-top: 10px;
    margin-right: 20px;
    padding: 8px 20px;
    background: #181818;
    color: #ebebeb;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.indexnavbar ul li a span {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #e7fd2c;
    color: #181818;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}